https://github.com/jdhxyy/crc16-clang.git
https://github.com/jdhxyy/tzmalloc.git
https://github.com/jdhxyy/tzbox.git
https://github.com/jdhxyy/scunit-clang.git
https://github.com/jdhxyy/tztype-clang.git
https://github.com/jdhxyy/lagan-clang.git